<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6AMIeEo4FM3c83_SDX1OTAmGDYyXWNmE"></script>
<script src="assets/js/store-locator.min.js"></script>
<script src="assets/js/datasource.js"></script>
<script src="assets/js/panel.js"></script>
<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-12846745-20']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' === document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  })();
</script>
