<div class="orbit" role="region" aria-label="FlatBox Slider" data-orbit data-animate="fade-in" data-timer-delay=5000>
  <div class="orbit-wrapper">
    <ul class="orbit-container" data-equalizer>
      <li class="is-active orbit-slide" data-equalizer-watch>
        {{#image 'flatbox-header-closed.png' 'FlatBox'}}{{/image}}
      </li>
      <li class="orbit-slide" data-equalizer-watch>
        {{#image 'flatbox-header-halfopen.png' 'FlatBox'}}{{/image}}
      </li>
      <li class="orbit-slide" data-equalizer-watch>
        {{#image 'flatbox-header-open.png' 'FlatBox'}}{{/image}}
      </li>
    </ul>
  </div>
</div>
